body {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 500;
  line-height: 1;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  opacity: 0.8;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 75px;
}

nav {
  background-color: #8C24DF;
}
nav a {
  text-transform: uppercase;
}
nav .nav-link {
  color: white;
}
nav .navbar-brand {
  text-shadow: white 5px 0 25px;
}
nav .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
nav ul {
  -ms-flex-line-pack: center;
      align-content: center;
}

.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
}
.hello .hello-txt-block {
  text-transform: uppercase;
  margin-left: 20px;
}
.hello .hello-txt-block a img {
  width: 40px;
  margin: 0 6px;
  -webkit-box-shadow: #333;
          box-shadow: #333;
}
.hello .avatar {
  width: 250px;
  border-radius: 90%;
  border-right: 10px solid #9b46e163;
  margin-right: 20px;
}
.hello .hi {
  font-size: 1rem;
  letter-spacing: 1px;
}
.hello h1 {
  font-size: 2.5rem;
  margin: 20px 0;
  letter-spacing: 2px;
}
.hello h1 span {
  color: #8C24DF;
}

.about {
  padding-bottom: 150px;
}

.sectionhead {
  text-transform: uppercase;
}
.sectionhead p {
  font-size: 12px;
  line-height: 1;
  padding-bottom: 16px;
}

.about-descr {
  width: 65%;
  line-height: 1.4;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
}

.skills {
  padding-bottom: 150px;
}

.skills-panel {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin: 16px 22px;
  border-radius: 20px !important;
  padding: 0px !important;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
}
.icon:hover {
  -webkit-box-shadow: 4px 4px 50px 10px #767676;
  box-shadow: 4px 4px 50px 10px #767676;
}
.icon img {
  padding: 10px;
  width: 60%;
}
.icon p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

.projects {
  padding-bottom: 150px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
  width: 80%;
}
.project img {
  width: 350px;
  border-radius: 15px;
}
.project .descr-project {
  margin-left: 40px;
  font-weight: 600;
}
.project .descr-project span {
  color: #8C24DF;
}
.project .descr-project li {
  margin: 8px 0;
  line-height: 1.3;
}

.contact h3 {
  text-align: center;
  margin: 20px 0;
}

.contacts-wrapper {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
}
.contacts-wrapper .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  box-shadow: 4px 4px 50px 10px rgba(118, 118, 118, 0.2);
  border-radius: 50px;
  padding: 30px;
  width: 40%;
}
.contacts-wrapper .contact-card img {
  border-radius: 10px;
  width: 68px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  .about-descr {
    width: 100%;
  }

  .skills-panel {
    width: 100%;
    padding: 5px;
  }

  .project {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project img {
    width: 480px;
  }
  .project p {
    margin: 30px 0;
  }

  .contact-card {
    width: 100% !important;
    margin: 30px 28px !important;
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    width: 95%;
  }

  .project img {
    width: 360px;
  }
  .project .descr-project {
    margin-left: 0px;
  }
}